.live {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ff69b4;
    animation: pulse 1500ms infinite;
}

@keyframes pulse {
    0% {
        box-shadow: #ff69b4 0 0 0 0;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}

.rcorners1 {
    padding: 20px;
    margin: 7px;
    padding: 10px;
    border-radius: 50px;
    /* border-color: red; */
    background: #92e56f;
}